<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>FHDHGNGN - Blog</title>
    <meta content="ah07.xyz" property="og:title" />
    <meta content="FHDHGNGN/anthonyhuang07's blog." property="og:description" />
    <meta content="https://ah07.xyz" property="og:url" />
    <meta content="/assets/favicon.png" property="og:image" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Aldrich&family=Fira+Code&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/assets/favicon.png">
    <link rel="stylesheet" href="styles/main.css">
</head>

<body>
    {% include header.html %}
    <main>

    </main>
    {% include footer.html %}
</body>

</html>